extends layout

block content
  h1= title
  

  if newRecords
      ul(style="width: auto;").list-group
          for rec in newRecords
              li.list-group-item= rec.url
                span.badge.badge-primary.badge-pill.right
                a(href=rec.url download='' target="_blank")
                    button.btn.btn-primary.float-right(type='button') Download
